:root {
  --special-section-bg-color: #f5f4fa;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);
  background-color: turquoise;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-align: center; */
}

/* Button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Section */
.section {
  margin-top: 94px;
  /* background-color: yellowgreen; */
}

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--special-section-bg-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
}

/* Our possibilities */
.possibilities.title {
  color: var(--primary-white-color);
  background-color: turquoise;
}

/* .possibilities-title:hover,
.possibilities-title:focus {
  color: var(--accent-color);
} */

/* Team */

.worker {
  background-color: var(--primary-white-color);
}

.worker .worker-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
