/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  background-color: turquoise;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-align: center; */
}

/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
}

/* Our possibilities */
.possibilities.title {
  color: var(--primary-white-color);
  background-color: turquoise;
}

/* .possibilities-title:hover,
.possibilities-title:focus {
  color: var(--accent-color);
} */

/* Team */

.worker .worker-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
