:root {
  --special-section-bg-color: #f5f4fa;
  --clients-border-color: #afb1b8;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);
  background-color: turquoise;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-align: center; */
}

/* Section */
.section {
  margin-top: 94px;
  /* background-color: yellowgreen; */
}

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--special-section-bg-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
}

/* Our Benefits */
.benefits {
  display: flex;
}

.benefits li {
  width: 278px;
}

.benefits > li > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.benefits li:not(:first-child) {
  margin-left: auto;
}

/* Our possibilities */

.possibilities.list {
  display: flex;
  justify-content: space-between;
}

.possibilities > li {
  width: 380px;
}

.possibilities.title {
  color: var(--primary-white-color);
  background-color: turquoise;
}

/* .possibilities-title:hover,
.possibilities-title:focus {
  color: var(--accent-color);
} */

/* Team */
.team.list {
  display: flex;
  justify-content: space-between;
}

.worker {
  width: 278px;

  background-color: var(--primary-white-color);
  text-align: center;
}

.worker .worker-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker .list li {
  display: inline-block;
}

/* Clients */

.clients {
  display: flex;
  justify-content: space-between;
}

.clients > li {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--clients-border-color);
  width: 175px;
  height: 90px;
}

.clients > li:hover {
  border-color: var(--accent-color);
}
